@charset "UTF-8";
/*Перевод в друшие величины*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --font-family: "Manrope", sans-serif;
  --font-family2: "Montserrat", sans-serif;
  --color--bg: rgba(231, 231, 231, 1);
  --color--bg-100: rgba(243, 241, 241, 1);
  --color-bg-block: rgb(255, 255, 255);
  --color--text: rgba(136, 134, 134,1);
  --color--border: rgba(215, 215, 215, 1);
  --color--green: rgba(102, 204, 102,1.0);
  --color--blue-100: rgba(58, 126, 182, 1.0);
  --color--blue-200: rgb(53, 173, 209);
  --color--yellow: rgba(255, 221, 0, 1);
  --color-chat-user: rgba(58, 126, 182, 0.5);
  --color-chat-spec: rgba(98, 116, 133, 1);
  --color--black: rgb(51, 51, 51);
  --color-border-list: rgb(224, 224, 224);
  --color-body-shadow: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--color--bg-100);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color--bg);
  border-radius: 5px;
  width: 5px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  width: 7px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

/* Общие стили */
body {
  font-family: var(--font-family2);
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

.top__menu {
  height: 60px;
  background-color: var(--color--yellow);
  display: grid;
  grid-template-columns: 13% 2fr 1fr 15%;
}

.top__menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 30px;
}

.menu__left-1 {
  color: var(--color-chat-spec);
  font-weight: 700;
  padding-right: 10px;
  border-right: 2px solid var(--color-chat-spec);
}

.menu__left-2 {
  color: var(--color-chat-spec);
  font-weight: 700;
  padding-left: 10px;
}

.top__menu-center-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 8px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #98adb9;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}

.search__top {
  width: 100%;
  margin: 0;
  padding: 4px 12px;
  font-size: 14px;
  text-shadow: none;
  text-indent: 0;
  text-transform: none;
  line-height: 20px;
  word-spacing: normal;
  letter-spacing: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0784313725);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0784313725);
  outline: 0;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  height: 30px;
}

.top__menu-center-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top__menu-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-chat-spec);
  font-weight: 500;
  margin-left: 50px;
}

.task-logo {
  padding: 0 10px;
}

.task-my {
  padding-right: 10px;
  border-right: 1px solid var(--color-chat-spec);
}

.task-all {
  padding: 0 10px 0 10px;
}

.top__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 10px;
}

.top__menu-name {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-chat-spec);
  font-weight: 700;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92vh;
}

.left__menu {
  width: 15%;
}

.left__menu-list {
  border-bottom: 1px solid var(--color--border);
  border-right: 1px solid var(--color--border);
  padding: 10px 22px;
}

.first__menu {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid var(--color--border);
  border-radius: 4px;
}

.main {
  background-color: var(--color--bg);
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}

/* Верхняя часть */
.top__section-wrap {
  padding: 10px 15px 0 15px;
}

.top-section {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.specialist {
  position: relative;
}

.specialist-button {
  width: 150px;
  padding: 5px 10px;
  background-color: var(--color-bg-block);
  color: var(--color--text);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 8px;
  cursor: pointer;
  text-align: start;
}

.chat-count {
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 6px;
  background-color: var(--color--green);
  border-radius: 50%;
  padding: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full {
  background-color: #f44336;
}

/* Нижняя часть */
.bottom-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  margin: 0 15px;
}

/* Список чатов */
.chat__zone {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 94%;
}

.chat__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid var(--color--border);
}

.chat__classtype {
  width: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.green-bar {
  display: none;
  width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}

.blue-bar {
  display: none;
  width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}

.chat__class {
  padding: 10px;
}

.my__chat {
  border-right: 1px solid var(--color--border);
}

.search__chat {
  width: 100%;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid var(--color--border);
}

.chat__list-all {
  display: none;
}

.chat__list-all active {
  display: block;
}

.chat__list-spec {
  display: none;
}

.chat__list-spec active {
  display: block;
}

.chat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--color--border);
  height: 74px;
}

.chat active {
  background-color: var(--color-bg-block);
}

.hidden {
  display: none;
}

.actived {
  background-color: var(--color--green);
}

.active {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color--bg);
}

.chat-icon {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #ccc;
  margin-right: 8px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-timer {
  position: absolute;
  top: 5px;
  right: 20px;
}

.chat-type-indicator {
  background-color: var(--color--blue-200);
}

.chat-type-indicator type2 {
  background-color: var(--color--green);
}

.chat-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-name {
  font-weight: bold;
}

.chat-type-indicator {
  width: 8px;
  height: 100%;
  margin-left: 8px;
}

/* Поле сообщений */
.chat-window-block {
  min-height: 100%;
}

.chat-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 94%;
  max-height: 94%;
  grid-template-rows: 8% 5% 70% 15%;
}

.chat__user-block {
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-radius: 5px 5px 0 0;
  min-height: 9vh;
}

.user__info {
  padding: 10px;
  display: none;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.chat__name {
  color: var(--color--blue-100);
  font-weight: bold;
}

.realtime-chat-button {
  padding: 7px 10px;
  background-color: var(--color--bg);
  border: 1px solid var(--color--border);
  color: var(--color--blue-100);
  font-weight: bold;
  cursor: pointer;
}

.previous-chat-button {
  padding: 7px 10px;
  background-color: var(--color--bg-100);
  color: var(--color--text);
  border: 1px solid var(--color--border);
  cursor: pointer;
}

.search__history {
  width: 100%;
  padding: 5px 0 5px 10px;
  border-left: 1px solid var(--color--border);
  border-right: 1px solid var(--color--border);
}

.chat-window-all {
  min-height: 94%;
  max-height: 94%;
  height: 60vh;
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  overflow-y: auto;
  padding: 10px;
}

.chat-window {
  position: relative;
  display: none;
}

.chat-window active {
  display: block;
}

.message {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.username {
  font-weight: bold;
  margin-right: 5px;
  width: 50%;
}

.timestamp {
  font-size: 12px;
  color: #999;
  width: 50%;
  text-align: right;
}

.user-message {
  padding: 10px;
  float: left;
  clear: both;
  width: 50%;
}

.specialist-message {
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  float: right;
  clear: both;
  width: 50%;
}

.message-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.message-text-user {
  background-color: var(--color-chat-user);
  color: var(--color--bg-100);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.message-text-spec {
  background-color: var(--color-chat-spec);
  color: var(--color--bg-100);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.message-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13vh;
  border: 1px solid var(--color--border);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.message-input textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 6px;
  border-radius: 0 0 5px 5px;
}

.message-input button {
  padding: 6px 12px;
  background-color: var(--color--bg-100);
  color: var(--color-bg-block);
  font-weight: 600;
  border: none;
  border-radius: 0 0 5px 0;
  cursor: pointer;
}

.message-input button.actived {
  background-color: var(--color--green);
}

/* Информация о клиенте */
.client-info {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 94%;
  max-height: 94%;
}

.client-details-block {
  min-height: 30%;
  border-bottom: 1px solid var(--color--border);
}

.client-details {
  display: none;
  text-align: center;
  margin-top: 40px;
}

.client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  background-color: var(--color--bg);
  border-radius: 50px;
  margin: 0 auto;
}

.client__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color--blue-100);
}

.edit-button {
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.client__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.phone__number {
  margin-left: 10px;
  font-weight: 600;
  color: var(--color--blue-100);
}

.response-templates {
  padding: 20px;
  min-height: 48%;
  border-bottom: 1px solid var(--color--border);
}

.response-templates ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-actions-block {
  display: none;
}

.action__button,
.type__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.action__button {
  padding-bottom: 20px;
}

.release-chat-button,
.close-chat-button,
.support-button,
.connection-button {
  font-weight: 500;
  width: 150px;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.release-chat-button {
  background-color: var(--color-chat-spec);
  color: var(--color--bg-100);
}

.close-chat-button {
  background-color: #f44336;
  color: white;
}

.support-button {
  background-color: var(--color--blue-200);
  color: var(--color--bg-100);
}

.connection-button {
  background-color: var(--color--green);
  color: var(--color--bg-100);
}