@charset "UTF-8";
/*Перевод в друшие величины*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --font-family: "Manrope", sans-serif;
  --font-family2: "Montserrat", sans-serif;
  --color--bg: rgba(231, 231, 231, 1);
  --color--bg-100: rgba(243, 241, 241, 1);
  --color-bg-block: rgb(255, 255, 255);
  --color--text: rgba(136, 134, 134, 1);
  --color--border: rgba(215, 215, 215, 1);
  --color--green: rgba(102, 204, 102, 1);
  --color--blue-100: rgba(58, 126, 182, 1);
  --color--blue-200: rgb(53, 173, 209);
  --color--yellow: rgba(255, 221, 0, 1);
  --color-chat-user: rgba(58, 126, 182, 0.5);
  --color-chat-spec: rgba(98, 116, 133, 1);
  --color--black: rgb(51, 51, 51);
  --color-border-list: rgb(224, 224, 224);
  --color-body-shadow: rgba(0, 0, 0, 0.2);
  --color--alert: rgb(244, 67, 54);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--color--bg-100);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color--bg);
  border-radius: 5px;
  width: 5px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  width: 7px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

body {
  font-family: var(--font-family2);
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color--text);
  overflow-y: scroll;
}

.top-menu {
  height: 60px;
  background-color: var(--color--yellow);
  display: grid;
  grid-template-columns: 13% 2fr 1fr 15%;
}

.top-menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 30px;
  font-size: 18px;
}

.menu-left-1 {
  color: var(--color-chat-spec);
  font-weight: 500;
  padding-right: 10px;
  border-right: 2px solid var(--color-chat-spec);
}

.menu-left-2 {
  color: var(--color-chat-spec);
  font-weight: 500;
  padding-left: 10px;
}

.top-menu-center-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 700px;
}

.top-menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 8px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #98adb9;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}

.search-top {
  width: 100%;
  margin: 0;
  padding: 4px 12px;
  font-size: 14px;
  text-shadow: none;
  text-indent: 0;
  text-transform: none;
  line-height: 20px;
  word-spacing: normal;
  letter-spacing: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0784313725);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0784313725);
  outline: 0;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  height: 30px;
}

.top-menu-center-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-chat-spec);
  font-weight: 500;
  margin-left: 150px;
}

.task-logo {
  padding: 0 10px;
}

.task-my {
  padding-right: 10px;
  border-right: 1px solid var(--color-chat-spec);
}

.task-all {
  padding: 0 10px 0 10px;
}

.task-plus {
  font-weight: 700;
}

.top-menu-telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 40px;
}

.telepgone-icon {
  width: 16px;
  height: 16px;
  margin-left: 40px;
}

.top-menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 10px;
}

.top-menu-name {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-chat-spec);
  font-weight: 700;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92vh;
}

.left-menu {
  width: 15%;
}

.left-menu-list {
  border-bottom: 1px solid var(--color--border);
  border-right: 1px solid var(--color--border);
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-chat-spec);
}

.first-menu {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid var(--color--border);
  border-radius: 4px;
}

.main {
  background-color: var(--color--bg);
  width: 100%;
  height: 99%;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 3px 5px 2px rgba(34, 60, 80, 0.2);
}

.top-section-wrap {
  padding: 10px 15px 0 15px;
}

.top-section {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.specialist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialist-button {
  width: 150px;
  padding: 8px 10px;
  background-color: var(--color-bg-block);
  color: var(--color--text);
  border: 1px solid var(--color--border);
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 8px;
  cursor: pointer;
  text-align: start;
}

.chat-count {
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 8px;
  background-color: var(--color--green);
  border-radius: 50%;
  padding: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full {
  background-color: var(--color--alert);
}

.bottom-section {
  display: grid;
  grid-template-columns: 20% 58.7% 20%;
  grid-gap: 10px;
  margin: 0 15px;
}

.chat-zone {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 94%;
}

.chat-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid var(--color--border);
}

.chat-classtype {
  width: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}

.green-bar {
  display: none;
  width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}

.blue-bar {
  display: none;
  width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}

.chat-class {
  padding: 10px;
}

.my-chat {
  border-right: 1px solid var(--color--border);
}

.search-block {
  padding: 10px;
  border-bottom: 1px solid var(--color--border);
}

.search-chat {
  width: 100%;
  padding: 5px 0 5px 10px;
  border: 1px solid var(--color--border);
  border-radius: 4px;
}

.chat-list-all {
  display: none;
}

.chat-list-all.active {
  display: block;
}

.chat-list-spec {
  display: none;
}

.chat-list-spec.active {
  display: block;
}

.chat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--color--border);
  height: 74px;
}

.chat.active {
  background-color: var(--color-bg-block);
}

.hidden {
  display: none;
}

.actived {
  background-color: var(--color--green);
}

.active {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color--bg);
}

.chat-icon {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #ccc;
  margin-right: 8px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-timer {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 12px;
}

.chat-type-indicator {
  background-color: var(--color--blue-200);
}

.chat-type-indicator[type2] {
  background-color: var(--color--green);
}

.chat-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-name {
  font-weight: bold;
}

.chat-type-indicator {
  width: 8px;
  height: 100%;
  margin-left: 8px;
}

.chat-window-block {
  position: relative;
  min-height: 100%;
}

.grid-transform {
  position: absolute;
  right: 15px;
  top: 10px;
  border: 1px solid var(--color--border);
  border-radius: 4px;
  padding: 3px;
}

.grid-transform-img {
  width: 18px;
  padding: 2px;
}

.rotate {
  rotate: 180deg;
}

.small-action-buttons-block {
  display: none;
}

.small-action-buttons {
  position: absolute;
  right: 15px;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  border-radius: 4px;
}

.small {
  width: 20px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.small-support {
  border: 1px solid var(--color--blue-200);
}

.small-sales {
  border: 1px solid var(--color--green);
}

.small-transfer {
  border: 1px solid var(--color-chat-spec);
}

.small-close {
  border: 1px solid var(--color--alert);
}

.chat-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 94%;
  max-height: 94%;
}

.chat-user-block {
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  min-height: 9vh;
}

.user-info {
  padding: 10px;
  display: none;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.chat-name {
  color: var(--color--blue-100);
  font-size: 16px;
  font-weight: bold;
}

.realtime-chat-button {
  padding: 7px 10px;
  background-color: var(--color--bg);
  border: 1px solid var(--color--border);
  color: var(--color--blue-100);
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.previous-chat-button {
  padding: 7px 10px;
  background-color: var(--color--bg-100);
  color: var(--color--text);
  border: 1px solid var(--color--border);
  border-radius: 0 5px 5px 0;
  margin-left: -2px;
  cursor: pointer;
}

.search-center-block {
  min-height: 5vh;
  border: 1px solid var(--color--border);
  background-color: var(--color--bg-100);
  border-bottom: none;
  border-top: none;
}

.search-center {
  display: none;
}

.search-history {
  width: 100%;
  padding: 5px 0 5px 10px;
  border: 1px solid var(--color--border);
  border-radius: 4px;
}

.chat-window-all {
  min-height: 94%;
  max-height: 94%;
  height: 58vh;
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-top: none;
  overflow-y: auto;
  padding: 10px;
}

.chat-window {
  position: relative;
  display: none;
}

.message {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.username {
  font-weight: bold;
  margin-right: 5px;
  width: 50%;
}

.timestamp {
  font-size: 12px;
  color: #999;
  width: 50%;
  text-align: right;
}

.user-message {
  padding: 10px;
  float: left;
  clear: both;
  width: 50%;
}

.specialist-message {
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  float: right;
  clear: both;
  width: 60%;
}

.message-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.message-text-user {
  background-color: var(--color-chat-user);
  color: var(--color--bg-100);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.message-text-spec {
  background-color: var(--color-chat-spec);
  color: var(--color--bg-100);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.message-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13vh;
  border: 1px solid var(--color--border);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.message-input textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 6px;
  border-radius: 0 0 5px 5px;
}

.message-input button {
  padding: 6px 12px;
  background-color: var(--color--bg-100);
  color: var(--color-bg-block);
  font-weight: 600;
  border: none;
  border-radius: 0 0 5px 0;
  cursor: pointer;
}

.message-input button.actived {
  background-color: var(--color--green);
}

.file-button {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 3px;
  right: 145px;
  cursor: pointer;
}

.emodji-button {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 4px;
  right: 120px;
  cursor: pointer;
}

.client-info {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--border);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 94%;
  max-height: 94%;
}

.client-details-block {
  min-height: 22vh;
}

.client-details {
  display: none;
  text-align: center;
  margin-top: 40px;
}

.client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  background-color: var(--color--bg);
  border: 1px solid var(--color--border);
  border-radius: 50px;
  margin: 0 auto;
}

.client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color--blue-100);
}

.edit-button {
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.client-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.phone-number {
  margin-left: 10px;
  font-weight: 600;
  color: var(--color--blue-100);
}

.response-templates-block {
  padding: 20px 10px;
  min-height: 46vh;
}

.response-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.response-icon {
  width: 24px;
  border: 1px solid var(--color--border);
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.response-search {
  border: 1px solid var(--color--border);
  padding: 3px;
  border-radius: 4px;
}

.search-response {
  padding: 3px;
  border-radius: 4px;
}

.response-item li {
  padding: 2px;
  margin-left: 5px;
}

.my-response-block {
  margin-top: 40px;
}

.response-block-title {
  margin-bottom: 10px;
}

.response-edit-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.button-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color--text);
  border: 1px solid var(--color--border);
  border-radius: 4px;
  background-color: var(--color--bg-100);
  padding: 5px;
  cursor: pointer;
}

.button-icon {
  width: 16px;
}

.add-button {
  margin-left: 5px;
  border: none;
  font-size: 12px;
}

.chat-actions-block {
  display: none;
}

.chat-actions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10vh;
}

.chat-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.release-chat-button,
.close-chat-button,
.support-button,
.connection-button {
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.release-chat-button {
  border: 1px solid var(--color-chat-spec);
  background-color: var(--color-bg-block);
  color: var(--color-chat-spec);
}

.release-chat-button:hover {
  background-color: var(--color-chat-spec);
  color: var(--color-bg-block);
}

.close-chat-button {
  border: 1px solid var(--color--alert);
  background-color: var(--color-bg-block);
  color: var(--color--alert);
}

.close-chat-button:hover {
  background-color: var(--color--alert);
  color: var(--color-bg-block);
}

.support-button {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--blue-200);
  color: var(--color--blue-200);
}

.support-button:hover {
  background-color: var(--color--blue-200);
  color: var(--color-bg-block);
}

.connection-button {
  background-color: var(--color-bg-block);
  border: 1px solid var(--color--green);
  color: var(--color--green);
}

.connection-button:hover {
  background-color: var(--color--green);
  color: var(--color-bg-block);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color--bg-100);
  border: 1px solid var(--color--border);
  border-radius: 4px;
  z-index: 9999;
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  height: auto;
  max-width: 640px;
  min-width: 320px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.29) 0 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.29) 0 3px 8px;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-text-regular);
  padding: 15px;
}

.confirm-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  border-top: 1px solid var(--color-border-list);
}

.confirm-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

.no {
  color: var(--color--green);
  border-right: 1px solid var(--color--border);
}

.yes {
  color: var(--color--alert);
}

.blue-bg {
  background-color: var(--color--blue-100);
  color: var(--color-bg-block);
}