@import "_nullstyle";
@import "_sky";
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
:root {
	--font-family: "Manrope", sans-serif;
	--font-family2: "Montserrat", sans-serif;
	--color--bg: rgba(231, 231, 231, 1);
	--color--bg-100: rgba(243, 241, 241, 1);
	--color--text: rgba(136, 134, 134,1);
	--color--border: rgba(215, 215, 215, 1);
	--color--green: #66cc66;
	--color--blue-100: rgba(58, 126, 182, 1);
	--color--blue-200: #35add1;
	--color--yellow: rgba(255, 221, 0, 1);
	--color-chat-user: rgba(58, 126, 182, 0.5);
	--color-chat-spec: rgba(98, 116, 133, 1);
	--color--black: #333333;
	--color-border-list: #e0e0e0;
	--color-body-shadow::#00000033;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--color--bg-100);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color--bg);
	border-radius: 5px;
	width: 5px;
	transition: width 0.2s;
}

::-webkit-scrollbar-thumb:hover {
	width: 7px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
	height: 5px;
}

/* Общие стили */
body {
	font-family: var(--font-family2);
	margin: 0;
	padding: 0;
}

h2,
h3 {
	margin: 0;
	padding: 0;
}

.top__menu {
	height: 60px;
	background-color: var(--color--yellow);
}



.page {
	display: flex;
	border-bottom: 1px solid var(--color--border);
	height: 92vh;
}
.left__menu {
	width: 15%;
	height: 92vh;
	border-right: 1px solid var(--color--border);
}
.left__menu-list {
	//height: 30px;
	border-bottom: 1px solid var(--color--border);
	padding: 10px 22px;
}
.first__menu {
	height: 5vh;
	display: flex;
	flex-direction: column;
}
.search {
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px solid var(--color--border);
}
//
.main {
	//border: 1px solid var(--color--border);
	width: 100%;
}

/* Верхняя часть */
.top__section-wrap {
	padding: 0 15px 0 15px;
}
.top-section {
	height: 5vh;
	display: flex;
	align-items: center;
	//background-color: var(--color-chat-spec);
	border: 1px solid var(--color--border);
	border-top: none;
}
.specialist {
	position: relative;
}

.specialist-button {
	width: 150px;
	padding: 5px 10px;
	background-color: var(--color--bg);
	color: var(--color--text);
	border: 1px solid var(--color--border);
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 8px;
	cursor: pointer;
	text-align: start;	
}

.chat-count {
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	right: 15px;
	top: 6px;
	background-color: var(--color--green);
	border-radius: 50%;
	padding: 3px;
	width: 16px;
	height: 16px;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full{
	background-color: #f44336;
}

/* Нижняя часть */
.bottom-section {
	height: 88vh;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 10px;
	margin: 0 15px;
	//background: var(--color--bg);
}



/* Список чатов */
.chat__zone {
	//background-color: #f2f2f2;
	border: 1px solid var(--color--border);
	border-top: none;
	margin-bottom: 10px;
}
.chat__type {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--color--border);
}
.chat__classtype{
		width: 50%;   
    text-align: center;
    cursor: pointer;
		position: relative;
}

.green-bar{	
	display: none;
	width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}
.blue-bar{	
	display: none;
	width: 100%;
  height: 5px;
  background-color: var(--color--blue-100);
  position: absolute;
  bottom: 0;
}

.chat__class {
// 	width: 50%;
// 	padding: 15px;
// 	text-align: center;
// 	cursor: pointer;
	padding: 10px;
}
.my__chat {
	border-right: 1px solid var(--color--border);
}
.search__chat {
	width: 100%;
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid var(--color--border);
}
.chat__list-all{
	display: none;
}
.chat__list-all active{
	display: block;
}
.chat__list-spec{
	display: none;
}
.chat__list-spec active{
	display: block;
}


.chat {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px solid var(--color--border);
	height: 74px;
}
.chat active{
	background-color: var(--color--bg);
}

.hidden {
  display: none;
}
.actived{
	background-color: var(--color--green);
}
.active {
  display: block;
	position: relative;
  display: flex;
	background-color: var(--color--bg);
}
.chat-icon {
	width: 32px;
	height: 32px;
	border-radius: 50px;
	background-color: #ccc;
	margin-right: 8px;
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat-timer {
	position: absolute;
	top: 5px;
	right: 20px;
}
.chat-type-indicator {
	background-color: var(--color--blue-200);
}
.chat-type-indicator type2 {
	background-color: var(--color--green);
}
.chat-info {
	flex-grow: 1;
}
.chat-name {
	font-weight: bold;
}
.chat-type-indicator {
	width: 8px;
	height: 100%;
	margin-left: 8px;
}

/* Поле сообщений */
.chat-messages {
	margin-top: 10px;
	//margin-bottom: 10px;
}
.chat__user-block{
	border: 1px solid var(--color--border);
	height: 80px;
}
.user__info {	
	padding: 10px;
	display: none;
}
.chat-header {
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.realtime-chat-button {
	padding: 7px 10px;
	background-color: var(--color--bg);
	color: var(--color--blue-100);
	font-weight: bold;
	border: none;
	cursor: pointer;
}
.previous-chat-button {
	padding: 8px 16px;
	background-color: var(--color--bg-100);
	color: var(--color--text);
	border: none;
	cursor: pointer;
}
.search__history {
	width: 100%;
	padding: 5px 0 5px 10px;
	border-left: 1px solid var(--color--border);
	border-right: 1px solid var(--color--border);
}

// .chat-window {
// 	height: 60vh;
// 	border: 1px solid var(--color--border);
// 	overflow-y: auto;
// 	padding: 10px;
// }
.chat-window-all{
	height: 60vh;
	border: 1px solid var(--color--border);
	overflow-y: auto;
	padding: 10px;
}
.chat-window{
position: relative;
display: none;
}
.chat-window active{
	display: block;
}



.message {
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
}
.username {
	font-weight: bold;
	margin-right: 5px;
	width: 50%;
}
.timestamp {
	font-size: 12px;
	color: #999;
	width: 50%;
	text-align: right;
}
.user-message {
	padding: 10px;
	float: left;
	clear: both;
	width: 50%;
}

.specialist-message {
	display: block;
	justify-content: end;
	padding: 10px;
	float: right;
	clear: both;
	width: 50%;
}
.message-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.message-text-user {
	background-color: var(--color-chat-user);
	color: var(--color--bg-100);
	font-weight: 600;
	line-height: 1.2;
	border-radius: 10px 10px 10px 0;
	padding: 10px;
	font-size: 14px;
	width: 100%;
}
.message-text-spec {
	background-color: var(--color-chat-spec);
	color: var(--color--bg-100);
	font-weight: 600;
	line-height: 1.2;
	border-radius: 10px 10px 0 10px;
	padding: 10px;
	font-size: 14px;
	width: 100%;
}

//поле ввода
.message-input {
	display: flex;
	height: 13vh;
	border: 1px solid var(--color--border);
	border-top: none;
}
.message-input textarea {
	flex-grow: 1;
	padding: 6px;
}
.message-input button {
	padding: 6px 12px;
	background-color: var(--color--bg);
	color: var(--color--bg-100);
	font-weight: 600;
	border: none;
	cursor: pointer;
}
.message-input button.actived {
	background-color: var(--color--green);
}

/* Информация о клиенте */
.client-info {
	//background-color: #f2f2f2;
	height: 87vh;
	border: 1px solid var(--color--border);
	border-top: none;
	display: flex;
	flex-direction: column;
	//justify-content: space-between;
}
.client-details-block{
	height: 25%;
	border-bottom: 1px solid var(--color--border);
}

.client-details {
	display: none;
	text-align: center;
	margin-bottom: 16px;
	margin-top: 40px;
	
	
}
.client__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: var(--color--bg);
	border-radius: 50px;
	margin: 0 auto;
}
.client__id {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--color--blue-100);
}
.edit-button {
	margin-left: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.client__number {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.phone__number {
	margin-left: 10px;
	font-weight: 600;
	color: var(--color--blue-100);
}

//шаблоны
.response-templates {
	padding: 20px;
	height: 45%;
	border-bottom: 1px solid var(--color--border);
}

.response-templates ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.chat-actions-block{
	display: none;
}



.chat-actions {
	display: grid;	
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
}
.action__button,
.type__button {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}
.action__button{
	border-bottom: 1px solid var(--color--border);
	padding-bottom: 40px;
}

.release-chat-button,
.close-chat-button,
.support-button,
.connection-button {
	font-weight: 600;
	width: 150px;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.release-chat-button {
	background-color: var(--color-chat-spec);
	color: var(--color--bg-100);
}

.close-chat-button {
	background-color: #f44336;
	color: white;
}

.support-button {
	background-color: var(--color--blue-200);
	color: var(--color--bg-100);
}

.connection-button {
	background-color: var(--color--green);;
	color: var(--color--bg-100);
}
